{{template "header"}}

<title>首页 - 我的 beego 博客</title>
<body>
{{template "navbar".}}


  <div class="container" margin-top="100px">
    <div class="page-header">
      <h1>我的第一篇博客</h1>
      <h6 class="text-muted">文章发表于2018年XX月XX日</h6>
      <a href="">欢迎观看第一篇博客,xxxxxxx</a>
    </div>
  </div>
  <div class="container" margin-top="100px">
    <div class="page-header">
      <h1>我的第一篇博客</h1>
      <h6 class="text-muted">文章发表于2018年XX月XX日</h6>
      <a href="">欢迎观看第一篇博客,xxxxxxx</a>
    </div>
  </div>

</body>
<script type="text/javascript">
  $(document).ready(function () {
      var username = document.getElementById('username');
      var password = document.getElementById('password');
      if (username.value.length == 0) {
          $("#error").text('请输入用户名')
          $(".alert-warning").show(2000);
          return false
      }
      if (password.value.length == 0) {
          $("#error").text('请输入密码')
          $(".alert-warning").show(2000);
          return false
      }


  })
</script>


</html>