{{template "header"}}

<title>首页 - 我的 beego 博客</title>
<style>
  h4 {
    width: 500px;
    height: 20px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow:ellipsis;
  }

</style>

<body>
  {{template "navbar".}}

  {{range .Topics}}
  <div class="container">
    <div class="page-header" style="margin:10px 0">
      <h1>{{.Title}}</h1>
      <h5 class="text-muted">文章发表于{{.Created.Format "2006年01月02日"}}，共有{{.Views}}次浏览，{{.Replycount}}个评论</h6>
        <h4><a href="/topic/view/{{.ID}}" style="text-decoration:none;color: rgb(133, 130, 130);">{{.Content}}</a></h4>
    </div>
  </div>
  {{end}}


</body>
<script type="text/javascript">
  $(document).ready(function () {
    var username = document.getElementById('username');
    var password = document.getElementById('password');
    if (username.value.length == 0) {
      $("#error").text('请输入用户名')
      $(".alert-warning").show(2000);
      return false
    }
    if (password.value.length == 0) {
      $("#error").text('请输入密码')
      $(".alert-warning").show(2000);
      return false
    }


  })
</script>


</html>