{{template "header"}}

<title>文章 - 我的 beego 博客</title>

<body>
    {{template "navbar".}}


    <div class="container" style="margin-bottom:30px">
        <h1>文章列表</h1>
        <div class="text-right" style="margin:30px">
            <a class="btn btn-success" href="/topic/add" style="text-decoration:none;color: #fff ">
                添加文章
            </a>
        </div>


        <table class="table">
            <thead>
                <tr>
                    <th>#</th>
                    <th>名称</th>
                    <th>最后更新</th>
                    <th>浏览</th>
                    <th>回复数</th>
                    <th>操作</th>
                </tr>
            </thead>
            <tbody>
                {{range .Topics}}
                <tr>
                    <td>{{.ID}}</td>
                    <td><a href="/topic/view/{{.ID}}">{{.Title}}</a></td>
                    <td>{{.Updated.Format "2006-01-02 01:01:01"}}</td>
                    <td>{{.Views}}</td>
                    <td>{{.Replycount}}</td>
                    <td><a href="/topic/del?id={{.ID}}&cid={{.Category.ID}}">删除</a></td>
                </tr>
                {{end}}
            </tbody>
        </table>
    </div>

</body>
<script src="https://cdn.bootcss.com/twitter-bootstrap/3.0.0-rc2/js/dropdown.min.js"></script>
<script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>


</html>