{{template "header"}}

<title>{{.Topic.Title}} - 我的 beego 博客</title>

<body>
    {{template "navbar".}}
    <div class="container">
        <h1>修改文章</h1>
        <form action="/topic" method="POST" style="margin-top:20px" enctype="multipart/form-data">
            <input type="hidden" name="id" value="{{.Topic.ID}}">
            <div class="col-lg-10">
                <div class="form-group">
                    <label for="name">文章名称</label>
                    <input type="text" class="form-control" name="title" value="{{.Topic.Title}}">
                </div>

                <div class="form-group">
                    <label for="name">文章分类</label>
                    <select class="form-control" name="category">
                        {{$CategoryID := .Topic.Category.ID}}
                        {{range .categories}}
                        <option name="category" value="{{.ID}}" {{if eq $CategoryID .ID}} selected {{end}}> {{.Title}}</option>
                        {{end}}
                    </select>
                </div>
                <div class="form-group">
                    <label for="name">文章内容</label>
                    <textarea class="form-control" type="text" rows="10" name="content">{{.Topic.Content}}</textarea>
                </div>
                <div class="form-group">
                    <label for="name">
                        文章附件
                        <a href="/attachment/{{.Topic.Attachment}}">{{.Topic.Attachment}}</a>
                    </label>
                    <input type="file" class="file" name="uploadname" />
                </div>
                <button type="submit" class="btn btn-success" name="submit">修改</button>
            </div>
        </form>
    </div>
</body>
<!-- <script type="text/javascript">
    $("button").click(function () {
        var name = document.getElementById('name');
        if (name.value.length == 0) {
            $(".submit").css("float", "left")
            $("#error").text('请输入wen名称');
            $(".alert").css("padding", "7px").css("margin-bottom", "0px");;

            $(".alert-warning").show(500);
            return false
        }
    })
</script> -->

</html>