{{template "header"}}

<title>{{.Topic.Title}} - 我的 beego 博客</title>

<body>
    {{template "navbar".}}

    <div class="container" style="margin-bottom:30px">
        <h1 class="text-center">{{.Topic.Title}}</h1>

        <div style="font-size:25px">{{.Topic.Content}}</div>

        <div class="text-right">
            <a class="btn btn-success" href="/topic/modify/{{.TID}}" style="text-decoration:none;color: #fff;">
                修改文章
            </a>
        </div>
    </div>

</body>
<script src="https://cdn.bootcss.com/twitter-bootstrap/3.0.0-rc2/js/dropdown.min.js"></script>
<script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>


</html>