{{template "header"}}

<title>文章 - 我的 beego 博客</title>

<body>
    {{template "navbar".}}


    <div class="container" style="margin-bottom:30px">
        <h1>文章列表</h1>
        <button type="submit" class="btn btn-success" name="submit"><a href="/topic/add" style="text-decoration:none;color: #fff;">添加文章</a></button>
        <table class="table">
            <thead>
                <tr>
                    <th>#</th>
                    <th>名称</th>
                    <th>文章数</th>
                    <th>操作</th>
                    <th>浏览</th>
                </tr>
            </thead>
            <tbody>
                {{range .Categories}}
                <tr>
                    <td>{{.ID}}</td>
                    <td>{{.Title}}</td>
                    <td>{{.TopicCount}}</td>
                    <td>{{.TopicCount}}</td>
                    <td>{{.TopicCount}}</td>
                </tr>
                {{end}}
            </tbody>
        </table>
    </div>

</body>
<script src="https://cdn.bootcss.com/twitter-bootstrap/3.0.0-rc2/js/dropdown.min.js"></script>
<script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>


</html>